<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div style="text-align: center">
            <img src="images/ari_molly_eat_homework.png" alt="not found" width="30%"/>
            <MudText Color="Color.Primary" Typo="Typo.h1">404 Not Found</MudText>
            <p role="alert">
                Sorry, there's nothing at this address, Molly (the dog)
                probably ate it. 
            </p>
            <p>
                Please check the URL and try again or go back to the <MudLink Href="/">home page</MudLink>.
            </p>
            </div>
        </LayoutView>
    </NotFound>
</Router>